/* stylesheet for index.html */

/*
    =================================================
    CSS Styles Reset
    =================================================
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
    =================================================
    Custom Styles
    =================================================

*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
}

body, html {
    height: 100%;
    margin: 0;
}

a {                       /* Removes default styling of links (i.e. underline) */
  text-decoration: none;
}

/* paragraph style for detailed info text */

/*
    =================================================
    Top Navigation/Menu Bar
    =================================================
*/

.menu {
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    position:fixed;
    background-color: white;
    z-index: 20;
}

/**************** Couldn't find this class in index.html
.section-container {
    display: flex;
} */

.logos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1.5%;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    font-family: Arial, sans-serif;
    font-size: 24px;
    padding-right: 1.5%;
}

#join {
    background-color: tomato;
    color: white;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
    font-size: 24px;
    box-shadow: inherit;
}

a:hover#join {
    background-color: white;
    color: tomato;
}


#login {
    color: tomato;
    text-decoration: underline coral;
    white-space: nowrap;
}

#WCG {
    height: 36px;
}

#IBM {
    height: 25px;
}

#logoSeparator {
    border-right: 1px solid #E8E8E8;
    height: 36px;
    padding-left: 10px;
    margin-right: 10px;
}

#cancel {
    height: 15px;
    padding-left: 10px;
}

/********************* POSSIBLE REUSABLE CODE ************************/
.infotext,
.maintext {
    padding-bottom: 24px;
}

.infotext {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400px;
    font-style: normal;
}

.maintext {
    font-size: 36px;
    line-height: 40px;
    font-style: normal;
    padding-top: 20px;
}

.bg {
    height: 100vh;   /* For all sections except #1, height does not include the height of WCG header. Refer to #section1 below */
    background-position: center;
}

.bgSec1 {
    height: calc(100vh - 8vh);          /* Section 1 vh INCLUDES the header's height */
    padding-top: 8vh;
    background-position: center;
}

.bgSec3 {
    height: calc(100vh - 16vh);  
}

.subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: royalblue;
  color: white;
  font-family: sans-serif;
  font-size: 1.3em;
  border-bottom: 1px solid aliceblue;
}

.secFlexBox {
    display: flex;
    height: 100%;
    margin-top: -8vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /*overflow: hidden;*/
}

/*
    =================================================
    All sections
    =================================================
*/

/* All sections EXCEPT first, b/c it uses padding instead. This approach
is from https://css-tricks.com/hash-tag-links-padding/ */

#introduction::before,
#section3::before,
#section3a::before,
#section3b::before,
#section3c::before,
#section4::before,
#current-projects::before,
#section6::before,
#section7::before,
#attribution::before {
    display: block;
    content: " ";
    margin-top: -8vh;
    height: 8vh;
    visibility: hidden;
    pointer-events: none;
}

/* To use z-index, all subsections must have a position other than 'static'  */
.setSectionPosition {
    position: relative;
}

/*
    =================================================
    Section 1
    =================================================
*/

#section1 {
      background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/annie-spratt-42459.jpg');
      background-size: cover;
      z-index: 19;
}


/*
    =================================================
    Section 2
    =================================================
*/

#introduction {
    display: block;
    background:
        linear-gradient(rgba(255, 217, 0, 0.8), rgba(255, 217,0, 0.8)),
        url('../images/climber_web.jpg');
    background-size: cover;
    font-family: "Helvetica";
    height: 100vh;
    color: black;
    z-index: 18;
}

#sec2Accelerate {
    font-size: 1.25em;
    width: 75vw;
    font-weight: 500;
}

#sec2Line {
 border-bottom: 0.15rem solid black;
 width: 35vw;
 margin: 1.5em 0 1.5em 0;
}

#sec2Volunteer {
    font-size: 1.75em;
    width: 60vw;
    font-weight: 500;
}

#sec2Volunteer b {
    font-weight: bold;
}


/*
    =================================================
    Section 3
    =================================================
*/

#section3 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/philippe-toupet-320689.jpg');
    background-size: cover;
    z-index: 17;
}

#section3a {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
  z-index: 16;
}

#section3b {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
  z-index: 15;
}

#section3c {
  background:
      linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
      url('../images/OAI3050.jpg');
  background-size: cover;
  z-index: 14;
}

.sec3-container subsection {
  display:block;
  width: 100%;
  height: 100%;
  /*justify-content:center;
  flex-wrap: wrap; */
  background-color: dodgerblue;
}

.sec3-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec3-container {
  display: block;
  /*flex-wrap: wrap; */
  width: 100%;
  /*flex-direction:column; */
}

.icon {
  margin-right: 10px;
}

.sec3-container h3 {
  color: white;
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

.sec3-container p {
  color: white;
  font-family: sans-serif;
  font-size: 1em;
}

.sec3-container strong {
  color: white;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height:calc(100vh - 16vh);
  width: 100%;
  text-align: center;
  }

/*
    =================================================
    Section 4
    =================================================
*/

#section4 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/riccardo-chiarini-247364.jpg');
    background-size: cover;
    display: block;
    z-index: 13;
}

/*
    =================================================
    Section 5
    =================================================
*/

/*  Stu: there must be some way to avoid repeating the transparent gradient overlay text,
    with different background images  */

/* similar to .section6ContentContainer */
#current-projects {
    z-index: 12;
    display: block;
    height: 100vh;
    background-color: rgba(46,117,207,0.45);
    background-size: cover;
}

.section5ContentContainer {
    color: white;
}

.sec5FlexBox {
    display: flex;
    height: calc(100vh - 8vh - 45px);  /* viewheight minus navbar and header heights */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /*overflow: hidden; */
}

.sec5Hidden {
  display: none;
}

.microbiomeBckgd {
    background:
        linear-gradient(rgba(46,117,207,0.45),rgba(46,117,207,0.45)),
        url('../images/choleraBacteria_bw.jpg');
    background-size: cover;
    /*padding-top: 8vh;*/
}

.cancerBckgd {
    background:
        linear-gradient(rgba(46,117,207,0.45),rgba(46,117,207,0.45)),
        url('../images/drugs_bw.jpg');
    background-size: cover;
}

.zikaBckgd {
    background:
        linear-gradient(rgba(46,117,207,0.45),rgba(46,117,207,0.45)),
        url('../images/mosquitoBckgd_bw.jpg');
    background-size: cover;
}

.tbBckgd {
    background:
        linear-gradient(rgba(46,117,207,0.45),rgba(46,117,207,0.45)),
        url('../images/oxygen_bw.jpg');
    background-size: cover;
}

.aidsBckgd {
    background:
        linear-gradient(rgba(46,117,207,0.45),rgba(46,117,207,0.45)),
        url('../images/ribbonBackground_bw-2.jpg');
    background-size: cover;
}

#microbiome img,
#cancer img,
#zika img,
#tb img,
#aids img {
    max-width: 10%;
}

.joinNow {
    font: 24px Arial, sans-serif;
    background-color: tomato;
    color: white;
    box-shadow: inherit;
    text-decoration: none;
    padding: 5px 8px;
    margin-top: 20px;
}

a.joinNow:hover {
    background-color: white;
    color: tomato;
}

/* ------------- Container positioning ------------- */

.centerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

/* -------------- Image positioning -------------- */

.centerImage {
    display: block;
    margin: auto;
}

/* --------------- Navigation bars --------------- */

.sec5navbar ul {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
}

.sec5navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-right: 1px solid white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*background-color: #2e75cf; */
}

.sec5navbar li:last-child {
    border-right: 0;
}

.sec5navbar img {
    width: 30px;
    padding-right: 10px;
}

.nav5-itemsClear,
.nav5-itemsBlue {
    color: inherit;
    font-size: 1.3em;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

/* Shoud be transparent with section background image behind it*/
.nav5-itemsClear {
    background-color: none;
}

.nav5-itemsBlue {
  background-color: #2e75cf;
}



/*
    =================================================
    Section 6
    =================================================
*/

/* For content to align below header bar, parent container for Sec 6 must be set
to disply: block (i.e. not display: flex */

#section6 {
    display: block;
    z-index: 11;
}

#section6-nav-container,
#section6-nav,
#section6-nav a,
.section6-content-container {
    display: flex;
}

.section6-content-container {
    flex-direction: column;
}

#battery,
#security,
#data {
    display: none;  
}


/* ----------------- Navigation bar ------------------ */
#performance-nav {
    background-color: gold;
}

#section6-nav {
    width: 100%;
    background-color: white;
    justify-content: space-around;
    height: 6vh;
}

.nav6-items {
    font-size: 1.5em;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid gold;
}

img.section6-icons {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#section6-nav li {
    text-align: center;
}

#section6-nav a {
    text-decoration: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    align-items: center;
}

/* ------------------ Content ------------------ */
.section6-content-container {
    height: calc(100vh - 8vh - 6vh);  /* viewhight minus height of navbar and header */
    background-color: gold;
    text-align: center;
    color: black;
    justify-content: center;
    align-items: center;
}

.section6-title {
    font-size: 1.5em;
    padding: 3%;
    top: 10%;
    font-weight: bold;
}

.section6-bold {
    font-weight: bold;
    padding: 1%;
}

#section6-image img {
    height: 200px;
    width: 200px;
    margin: 7%;
    align-self: center;
}


/*
    =================================================
    Section 7
    =================================================
*/

#section7 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/philippe-toupet-320689.jpg');
    background-size: cover;
    z-index: 10;
}


/*
    =================================================
    Section 8 - Attribution
    =================================================
*/

#attribution {
    background-color: rgb(200,210,210);
    background-size: cover;
    display: block;
    font-family: Helvetica;
    color: rgb(38,74,96);
    font-size: 2vmin;
    font-weight: 500;
    z-index: 9;
}

/* Attribution section here only temporarily */

.attributionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 8vh); /* 100vh minus height of header */
    width: 100%;
    text-align: center;
  }

  .attributionContainer a {
    color: rgb(45,117, 207);
  }

  .attributionContainer h2 {
      font-size: 5.5vmin;
      font-weight: bold;
      padding-bottom: .3em;
      color: black;
  }

  .attributionContainer p {
      padding-bottom: 0.25em;
  }

  .attributionContainer h3 {
      color: rgb(38,74,96);
      padding: 0.7em 0 0.4em 0;
      font-size: 3vmin;
      font-weight: 600;
  }
  

/*
    =================================================
    Media Queries
    =================================================
*/

@media only screen and (min-width:100px) and (max-width:480px) and (orientation:portrait)
{
p,strong {
font-size:1em;
}

#compass {
  width:120px;
  height:120px;
}
#binocular-man {
  width: 180px;
  height: 120px;
}
#calendar {
  width: 120px;
  height: 100px;
}
}

@media only screen and (orientation:landscape) and (max-width:760px)  {
.wrapper {
  width:100%;
}
#compass {
  display:none;
}
#binocular-man {
  display:none;
}
#calendar {
  display:none;
}
}
@media only screen and (min-width:641px)  {

}

/* STU DISABLED THIS TO CENTER SECTION 3 CONTENT

@media only screen and (min-width:961px)  {
.wrapper {
  width:50%;
} */

@media only screen and (min-width:1025px) {


 }

@media only screen and (min-width:1281px) {


 }

/*  =================================================
    Carousel
    ================================================= */

    #section1Car {
        background-color: white;
    }

    #carousel {
        position: fixed;
        margin: 29vh 0 0 1vw; 
        z-index: 20;
    }

    #carousel li {
        margin-top: 37px;
        height: 8px;
        width: 8px;
        border-radius: 100px;
        background-color: none;
    }

    .carouselWhite li  {
        border: 2px solid white;
    }

    .carouselBlack li {
        border: 2px solid black;
    }

/*    .carousel ul:first-child {
        margin-top: 0;
    } */

    ul#carousel li {
        padding: 0;
    }

    ul#carousel li a {
        margin: 0px;
        display: block;
        width: 100%;
        height: 100%;
    }
