/*stylesheet for index.html*/

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-position: center;
}

#section1 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/annie-spratt-42459.jpg');
    background-size: cover;
}

#section2 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/elena-prokofyeva-17909.jpg');
    background-size: cover;
}

#section3 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/philippe-toupet-320689.jpg');
    background-size: cover;
}

#section4 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/riccardo-chiarini-247364.jpg');
    background-size: cover;
}

#section5 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/annie-spratt-42459.jpg');
    background-size: cover;
}

#section6 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/elena-prokofyeva-17909.jpg');
    background-size: cover;
}

#section7 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/philippe-toupet-320689.jpg');
    background-size: cover;
}

#section8 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/riccardo-chiarini-247364.jpg');
    background-size: cover;
}
