/*stylesheet for index.html*/

/*
    =================================================

    CSS Styles Reset

    =================================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
    =================================================

    Custom Styles

    =================================================

*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #ffffff;
}

/* paragraph style for detailed info text */

.infotext,
.maintext {
    padding-bottom: 24px;
}

.infotext {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400px;
    font-style: normal;
}

.maintext {
    font-size: 36px;
    line-height: 40px;
    font-style: normal;
    padding-top: 20px;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    height: 100%;
    background-position: center;
}

section {
  height: 100vh;
}

#section1 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/annie-spratt-42459.jpg');
    background-size: cover;
}

#section2 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/elena-prokofyeva-17909.jpg');
    background-size: cover;
}

#section3 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/philippe-toupet-320689.jpg');
    background-size: cover;
}

#section4 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/riccardo-chiarini-247364.jpg');
    background-size: cover;
}

/*
    =================================================

    Section 5

    =================================================
*/

/*  Stu: there must be some way to avoid repeating the transparent gradient overlay text,
    with different background images  */

#section5a {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/choleraBacteria_bw.jpg');
    background-size: cover;
}

#section5b {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/drugs_bw.jpg');
    background-size: cover;
}

#section5c {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/mosquitoBckgd_bw.jpg');
    background-size: cover;
}

#section5d {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/oxygen_bw.jpg');
    background-size: cover;
}

#section5e {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/ribbonBackground_bw-2.jpg');
    background-size: cover;
}

#section5a img,
#section5b img,
#section5c img,
#section5d img,
#section5e img {
    max-width: 20%;
}

#section6 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/elena-prokofyeva-17909.jpg');
    background-size: cover;
}

#section7 {
    background:
        linear-gradient(rgba(0,0,255,0.45),rgba(0,0,255,0.45)),
        url('../images/philippe-toupet-320689.jpg');
    background-size: cover;
}

#section8 {
    background:
        linear-gradient(rgba(255,255,0,0.45), rgba(255,255,0,0.45)),
        url('../images/riccardo-chiarini-247364.jpg');
    background-size: cover;
}

/*
    =================================================

    container positioning

    =================================================
*/

.centerBox {
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    width: 50%;
}

/*
    =================================================

    image positioning

    =================================================
*/

.centerImage {
    display: block;
    margin: auto;
}
